.scrollbar::-webkit-scrollbar {
  width: 10px;
}

.scrollbar::-webkit-scrollbar-track {
  background-color: #f1f5f9; /* equivalent to bg-slate-100 */
}

.scrollbar::-webkit-scrollbar-thumb {
  background-color: #e2e8f0; /* equivalent to bg-slate-200 */
  border-radius: 9999px; /* equivalent to rounded-full */
}
